In [43]:
import pandas as pd
import numpy as np

In [44]:
df = pd.read_csv('nyc_311_data_subset-2.csv')
df

C:\Users\joep\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Unique Key,Created Date,Closed Date,Agency,Incident Zip,Borough,Latitude,Longitude
0,1,10/11/2016 11:53:00 AM,10/11/2016 12:00:00 PM,DSNY,NaN,QUEENS,NaN,NaN
1,1,10/11/2016 11:36:00 AM,10/11/2016 12:00:00 PM,DSNY,NaN,QUEENS,NaN,NaN
2,1,10/11/2016 11:36:00 AM,10/11/2016 12:00:00 PM,DSNY,NaN,QUEENS,NaN,NaN
3,1,10/11/2016 12:39:00 PM,10/11/2016 12:39:00 PM,DSNY,NaN,QUEENS,NaN,NaN
4,1,10/11/2016 12:18:00 PM,10/11/2016 12:18:00 PM,DSNY,NaN,QUEENS,NaN,NaN
...,...,...,...,...,...,...,...,...
971058,1,09/20/2016 03:02:25 PM,09/24/2016 09:33:13 AM,HPD,10469.0,BRONX,40.877527,-73.847712
971059,1,09/20/2016 11:36:47 AM,10/21/2016 08:02:42 PM,HPD,10029.0,MANHATTAN,40.791709,-73.937064
971060,1,09/20/2016 04:41:40 PM,09/24/2016 09:41:28 AM,HPD,10460.0,BRONX,40.833706,-73.895943
971061,1,09/20/2016 11:36:46 AM,10/21/2016 08:02:41 PM,HPD,10029.0,MANHATTAN,40.791709,-73.937064
971062,1,09/20/2016 01:41:33 PM,10/11/2016 02:04:05 AM,HPD,11432.0,QUEENS,40.711279,-73.788951

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 971063 entries, 0 to 971062
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unique Key    971063 non-null  int64
 1   Created Date  971063 non-null  object
 2   Closed Date   882944 non-null  object
 3   Agency        971063 non-null  object
 4   Incident Zip  911140 non-null  object
 5   Borough       971063 non-null  object
 6   Latitude      887284 non-null  float64
 7   Longitude     887284 non-null  float64
dtypes: float64(2), int64(1), object(5)
memory usage: 59.3+ MB

In [46]:
df['Incident Zip'].unique()

array([nan, '10001', '11691', '11211', '10027', '10452', '11428', '11101',
       '10075', '11215', '11210', '11231', '11217', '10457', '10033',
       '11209', '11201', '11367', '10029', '10021', '10028', '10034',
       '10032', '10039', '11414', '10461', '11229', '10462', '11223',
       '10023', '10453', '11225', '11219', '10451', '11234', '10014',
       '11354', '11361', '10468', '11233', '10466', '11204', '11413',
       '11224', '11375', '11040', '11232', '11203', '11205', '11434',
       '10011', '10003', '10025', '10013', '10036', '11237', '11355',
       '11368', '10454', '10456', '10463', '11222', '11228', '11216',
       '10128', '11435', '11419', '11358', '11421', '10019', '11238',
       '11213', '11235', '11420', '10038', '11226', '10472', '10016',
       '11221', '11236', '11436', '11214', '11377', '11385', '11365',
       '10312', '11426', '11373', '11218', '10005', '11230', '10026',
       '10473', '10280', '10301', '10309', '10310', '10009', '10002',
       '11433', '10020', '11357', '10030', '11378', '11249', '11432',
       '11212', '10024', '10035', '11429', '11206', '11372', '10471',
       '10119', '10307', '11364', '11103', '10017', '10012', '11105',
       '10458', '10018', '11374', '10459', '10314', '10037', '10302',
       '10040', '11411', '11692', '10303', '11418', '10031', '11220',
       '11427', '10465', '10306', '10010', '10460', '10305', '11207',
       '11208', '10474', '11417', '10475', '10455', '11416', '10065',
       '11363', '11693', '10308', '11356', '10469', '11369', '10470',
       '10467', '10007', '10304', '11366', '11694', '11102', '11423',
       '11422', '19044', '11412', '10022', '11379', '11251', '30374-0283',
       '11004', '11104', '10004', '11362', '11360', '11109', '07047',
       '11590', '11001', '11430', '11106', '10464', '43216', '11370',
       '10271', '11239', '11415', '10006', '10121', '10177', '11030-3409',
       '10069', '07302', '0000', '10044', '10282', '10000', '11743',
       '10178', '07114', '07410', '13851', '10169', '11697', '10168',
       '10538', '10123', '11516', '10174', '10278', '11598', '10112',
       '10605', 'UNKNOWN', '10172', '11570', '07105', '11561', '11576',
       '10162', '10281', '10151', '220194', '99999', '00083', '44087',
       '10472.0', '10039.0', '10471.0', '11372.0', '11377.0', '11354.0',
       '10453.0', '10304.0', '11235.0', '10307.0', '11361.0', '11218.0',
       '11219.0', '10302.0', '10035.0', '11233.0', '10019.0', '10037.0',
       '11385.0', '10075.0', '10040.0', '10458.0', '11223.0', '10462.0',
       '11104.0', '11420.0', '10474.0', '11229.0', '11226.0', '10456.0',
       '10468.0', '10467.0', '10002.0', '11208.0', '10460.0', '11212.0',
       '10032.0', '11204.0', '11207.0', '11214.0', '11363.0', '11422.0',
       '11434.0', '10457.0', '10028.0', '10452.0', '10009.0', '11432.0',
       '11213.0', '10465.0', '11209.0', '10033.0', '11379.0', '11216.0',
       '11249.0', '10031.0', '11418.0', '11414.0', '10034.0', '11230.0',
       '11692.0', '11210.0', '11217.0', '11201.0', '10128.0', '10010.0',
       '11215.0', '11211.0', '11375.0', '11419.0', '10469.0', '11423.0',
       '11106.0', '11220.0', '10069.0', '10306.0', '10301.0', '11369.0',
       '10027.0', '10312.0', '10309.0', '11427.0', '11691.0', '11417.0',
       '11416.0', '11234.0', '11236.0', '10455.0', '11105.0', '11228.0',
       '10029.0', '10011.0', '10007.0', '11237.0', '11231.0', '10303.0',
       '11357.0', '11415.0', '10001.0', '11203.0', '10451.0', '10314.0',
       '10021.0', '11225.0', '10463.0', '11426.0', '11206.0', '11103.0',
       '11222.0', '10461.0', '10030.0', '10470.0', '11373.0', '10466.0',
       '11412.0', '10026.0', '10308.0', '10012.0', '10025.0', '11238.0',
       '11366.0', '10459.0', '10005.0', '11364.0', '11368.0', '10473.0',
       '11232.0', '11378.0', '10305.0', '10454.0', '10282.0', '11101.0',
       '11221.0', '10014.0', '10016.0', '11356.0', '10003.0', '11429.0',
       '11413.0', '10022.0', '10013.0', '11365.0', '11367.0', '11694.0',
       '11411.0', '11433.0', '11355.0', '11421.0', '10036.0', '10065.0',
       '11224.0', '11374.0', '11358.0', '10023.0', '10475.0', '10017.0',
       '10024.0', '11370.0', '11693.0', '11362.0', '11004.0', '11205.0',
       '11102.0', '10004.0', '10038.0', '11435.0', '10006.0', '11360.0',
       '11428.0', '10018.0', '11436.0', '10464.0', '10310.0', '10044.0',
       '10280.0', '11239.0', '11001.0', '10020.0', '10112.0', '10172.0',
       '10168.0', '7114.0', '11030.0', '10278.0', '11109.0', '10000.0',
       '11697.0', '11040.0', '11725.0', '10111.0', '11005.0', '10162.0',
       '10281.0', '10169.0', '11803.0', '11430.0', '10119.0', '90274.0',
       '11520.0', '7112.0', '10041.0', '11570.0', '10167.0', '10107.0',
       '10174.0', '10120.0', '10177.0', '7073.0', '10154.0', '10165.0',
       '11550', '11701', '33134', '07628', '10532', '10703', '11371',
       '10105', '18773', '11580', '11725-9030', '10158', '07722',
       '11779.0', '10271.0', '11359.0', '10153.0', '10604.0', '10279.0',
       '29601.0', '10538.0', '30006.0', '11792.0', '11747.0', '10118.0',
       '83.0', '11566.0', '11776.0', '12344.0', '10121.0', '11550.0',
       '11576.0', '10103.0', '10801.0', '11509.0', '10701.0', '10105.0',
       '10913.0', '0.0', '11518.0', '11002.0', '10573.0', '10158.0',
       '10601.0', '11581.0', '11710.0', '42101.0', '10803.0', '10123.0',
       '11050.0', '3358.0', '8876.0', '10179.0', '12222.0', '11003',
       '10154', '10110', '10153', 'UNKOWN', '11636', '11005', '98057',
       '10801', '10550', '07310', '10115.0', '60179.0', '11003.0',
       '7093.0', '7306.0', '10170.0', '61702.0', '10804.0', '11791.0',
       '11743.0', '7013.0', '11042.0', '11371.0', '07024', '29616-0759',
       '14094', '11040-4204', '55433', '33033', '10118', '11501', '11514',
       '11021', '02241-5789', '91711', '11735', '07104', '48393-0824',
       '30353-0949', '10173', '02298', '11050', '33433', '33309',
       '10110.0', '10106.0', '10045.0', '7101.0', '07307', '10041',
       '01581', '10279', '10179', '11244', '10604', '07086', '?', '10111',
       '10165', '11530', '10573', 11433.0, 11213.0, 10037.0, 10030.0,
       10462.0, 10035.0, 10458.0, 11377.0, 11691.0, 10036.0, 10002.0,
       11355.0, 11419.0, 11209.0, 10460.0, 11226.0, 10011.0, 11233.0,
       10033.0, 10009.0, 10463.0, 10459.0, 10031.0, 10034.0, 10472.0,
       11372.0, 10025.0, 10301.0, 11357.0, 11216.0, 11230.0, 10302.0,
       10452.0, 11234.0, 10003.0, 10453.0, 10456.0, 10473.0, 11238.0,
       10027.0, 10451.0, 11218.0, 11208.0, 11220.0, 10032.0, 11366.0,
       11214.0, 11236.0, 11223.0, 10303.0, 11207.0, 11378.0, 10466.0,
       11212.0, 11219.0, 10028.0, 11201.0, 11373.0, 10023.0, 10468.0,
       11105.0, 11222.0, 10304.0, 11413.0, 10467.0, 10039.0, 11420.0,
       10457.0, 10016.0, 11414.0, 11104.0, 11221.0, 10040.0, 11435.0,
       11385.0, 10026.0, 11368.0, 11215.0, 11412.0, 11001.0, 10010.0,
       10306.0, 11101.0, 11415.0, 11375.0, 10465.0, 10024.0, 10021.0,
       11237.0, 10014.0, 11229.0, 11217.0, 10310.0, 10461.0, 10012.0,
       11356.0, 11228.0, 11205.0, 10001.0, 11210.0, 10455.0, 11411.0,
       10005.0, 11418.0, 11232.0, 10471.0, 10029.0, 10308.0, 11225.0,
       10019.0, 11422.0, 10006.0, 11224.0, 11354.0, 11249.0, 11434.0,
       10282.0, 11374.0, 10128.0, 10013.0, 11367.0, 10065.0, 11231.0,
       11211.0, 11432.0, 11692.0, 11235.0, 11204.0, 11361.0, 10017.0,
       11103.0, 10020.0, 10312.0, 11365.0, 10018.0, 11206.0, 11416.0,
       10305.0, 11370.0, 11203.0, 11379.0, 11369.0, 10469.0, 10314.0,
       10075.0, 11436.0, 11429.0, 10022.0, 11428.0, 10470.0, 10474.0,
       11358.0, 11102.0, 11427.0, 10454.0, 10309.0, 11421.0, 11423.0,
       11106.0, 11362.0, 10307.0, 10464.0, 11360.0, 10038.0, 11426.0,
       10112.0, 11239.0, 11004.0, 11417.0, 11693.0, 11364.0, 11021.0,
       7114.0, 11694.0, 10475.0, 10007.0, 10280.0, 10069.0, 8861.0,
       10279.0, 10044.0, 8817.0, 10004.0, 11363.0, 11005.0, 11697.0,
       10281.0, 10111.0, 11040.0, 11430.0, 10118.0, 10121.0, 7302.0,
       11251.0, 10803.0, 10119.0, 10580.0, 11109.0, 11749.0, 19053.0,
       10708.0, 10165.0, 10122.0, 10176.0, 10000.0, 10178.0, 11520.0,
       10583.0, 10048.0, 10168.0, 10177.0, 83.0, 8901.0, 10110.0, 10169.0,
       7310.0, 8512.0, 97062.0, 10167.0, 11743.0, 11371.0, 80014.0,
       11722.0, 10155.0, 11554.0, 10123.0, 6870.0, 10103.0, 12222.0,
       10041.0, 10106.0, 7086.0, 1749.0, 11042.0, 11719.0, 11024.0,
       11801.0, 10162.0, 7208.0, 97114.0, 11571.0, 10278.0, 19034.0,
       11695.0, 11968.0, 11010.0, 0.0, '10707.0', '10173.0', '11251.0',
       '10155.0', '10580.0', '11241.0', '11553.0', '10176.0', '11510.0',
       '11802-9060', '11779', '11757', '19040.0', '11758.0', '11746.0',
       '30346.0', '11590.0', '7410.0', '10550.0', '11695.0', '11580.0',
       '11516.0', '11575.0', '11572.0', '10178.0', '10960.0', '10710',
       '00000', '18901', '42301', '11695', '32752-9963', '10170', '10705',
       '11557.0', '3830.0', '10134.0', '11021.0', '7029.0', '10055',
       '10106', '12222', '10704', '11558', '07960', '12209', '10176',
       '07712', '10103', '11797', '11520', '10115', '10601', '14624',
       '10048', '14222', '19962', '19399', '02346', '11756-0215', '11111',
       '10155', '07608', '10530', '07103-4154', '11801', '10583', '11793',
       '10166', '10045', 'NJ 07114', '06601', '10023-6349', '10805',
       '877.0', '11701.0', '7302.0', '07660', '11563', '9153',
       '14231-9054', '11729.0', '11559.0', '11431.0', '11530.0', '07747',
       '11359', '07040', '11579', '10152', '92131', '19123', '11791',
       '90054-0807', '08876', '55486-0102', '37909.0', '11561.0',
       '10543.0', '11706.0', '7030.0', '91942', '14450', '07090', '12550',
       '12553', '10567.0', '10259.0', '11797.0', '10151.0', '11552.0',
       '92193.0', '1757.0', '10055.0', '11554.0', '10989', '11219-0283',
       '07070', '37214', '17108-0988', '43218', '02114', '10553',
       '43218-2118', '32256', '7640.0', '7087.0', 11561.0, 10154.0,
       11359.0, 11530.0, 10977.0, 10173.0, 7108.0, 10271.0, 6902.0,
       10120.0, 10153.0, 10158.0, 11590.0, 99999.0, 7030.0, 10591.0,
       8043.0, 10174.0, 105457.0, 10604.0, 7304.0, 10573.0, '10120',
       '07093', '10801-6393', '20705.0', '33128.0', '7105.0', '14228.0',
       '11582.0', '10008.0', '7310.0', '7094.0', '11577.0', '7086.0',
       '7201.0', '10122.0', '32256.0', '29615.0', '19047.0', '2062.0',
       '12205.0', '99999.0', '11704.0', '7047.0', '11242.0', '07073',
       '11797-9001', '10129', 'JFK', '01853', '7040.0', '10532.0',
       '19044.0', '10704.0', '11768.0'], dtype=object)

In [47]:
def reg_zip(input_zip):
    try:
        input_zip = int(float(input_zip))
    except:
        try:
            input_zip = int(input_zip.split('-')[0])
        except:
            return np.NaN
    if input_zip < 10000 or input_zip > 19999:
        return np.NaN
    return str(input_zip)

In [48]:
reg_zip('11211.00')

'11211'

In [51]:
def read_311_data(datafile):
    import pandas as pd
    import numpy as np
    
    def reg_zip(input_zip):
        try:
            input_zip = int(float(input_zip))
        except:
            try:
                input_zip = int(input_zip.split('-')[0])
            except:
                return np.NaN
        if input_zip < 10000 or input_zip > 19999:
            return np.NaN
        return str(input_zip)
    
    df = pd.read_csv(datafile,index_col='Unique Key')
    
    df['Incident Zip'] = df['Incident Zip'].apply(reg_zip)
    
    df = df.dropna(how='any')
    
    df = df[df['Borough'] != 'Unspecified']
    
    import datetime
    df['Created Date'] = df['Created Date'].apply(lambda x:datetime.datetime.strptime(x,'%m/%d/%Y %I:%M:%S %p'))
    df['Closed Date'] = df['Closed Date'].apply(lambda x:datetime.datetime.strptime(x,'%m/%d/%Y %I:%M:%S %p'))
    df['processing_time'] =  df['Closed Date'] - df['Created Date']
    
    df = df[df['processing_time']>=datetime.timedelta(0,0,0)]
    
    return df

In [52]:
read_311_data('nyc_311_data_subset-2.csv')

C:\Users\joep\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3263: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

,Created Date,Closed Date,Agency,Incident Zip,Borough,Latitude,Longitude,processing_time
Unique Key,,,,,,,,
1,2016-09-01 00:33:42,2016-09-16 01:06:56,DCA,10001,MANHATTAN,40.744790,-73.988834,15 days 00:33:14
1,2016-09-01 20:16:24,2016-09-10 18:08:25,HPD,11691,QUEENS,40.600554,-73.750704,8 days 21:52:01
1,2016-09-01 12:17:00,2016-09-07 12:00:00,DSNY,11211,BROOKLYN,40.704925,-73.962007,5 days 23:43:00
1,2016-09-01 12:10:22,2016-09-10 14:23:44,HPD,10027,MANHATTAN,40.812322,-73.955338,9 days 02:13:22
1,2016-09-01 12:32:32,2016-09-11 02:03:37,HPD,10452,BRONX,40.839529,-73.922534,9 days 13:31:05
...,...,...,...,...,...,...,...,...
1,2016-09-20 15:02:25,2016-09-24 09:33:13,HPD,10469,BRONX,40.877527,-73.847712,3 days 18:30:48
1,2016-09-20 11:36:47,2016-10-21 20:02:42,HPD,10029,MANHATTAN,40.791709,-73.937064,31 days 08:25:55
1,2016-09-20 16:41:40,2016-09-24 09:41:28,HPD,10460,BRONX,40.833706,-73.895943,3 days 16:59:48
1,2016-09-20 11:36:46,2016-10-21 20:02:41,HPD,10029,MANHATTAN,40.791709,-73.937064,31 days 08:25:55
1,2016-09-20 13:41:33,2016-10-11 02:04:05,HPD,11432,QUEENS,40.711279,-73.788951,20 days 12:22:32

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 971063 entries, 0 to 971062
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unique Key    971063 non-null  int64
 1   Created Date  971063 non-null  object
 2   Closed Date   882944 non-null  object
 3   Agency        971063 non-null  object
 4   Incident Zip  911140 non-null  object
 5   Borough       971063 non-null  object
 6   Latitude      887284 non-null  float64
 7   Longitude     887284 non-null  float64
dtypes: float64(2), int64(1), object(5)
memory usage: 59.3+ MB